
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container form-inline mt-2 mt-md-0">
          <h1 class="jumbotron-heading"> <img id="header-img" src="resources/images/shinto.svg" onerror="this.src='resources/images/wave-circle.png'">  Tokyo - Additional Details</h1>
          <p class="lead text-muted">Tokyo (Japanese: 東京都), officially Tokyo Metropolis, is one of the 47 prefectures of Japan and has been the capital since 1869.
              The Greater Tokyo Area is the most populous metropolitan area in the world. It is the seat of Emperor of Japan and the Japanese government.</p>
        </div>
        <p>
            <a href="#/pois" class="btn btn-primary my-2">View all attractions</a>
            <a href="#/register" class="btn btn-info my-2">Register</a>
        </p>

        <div id="mapid">
            <script>
            var mymap = L.map('mapid').setView([35.6896, 139.6921],8);
        
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);
        
            L.marker([35.6896, 139.6921]).addTo(mymap).bindPopup('Tokyo City Center').openPopup();
        
                </script>
            </div>
        </div>

        <p class="lead">below are several images of the points of interest featured in this guide. Click them to discover more!</p>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <!-- Card -->
            <div class="col-md-4" ng-repeat="poi in Pois" ng-click="setCurrPoi(poi)" data-toggle="modal" data-target="#poiModal">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" ng-src="resources/images/poi/{{poi.Image}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{poi.Name}}</p>
                  <p class="cardCategory" >{{poi.CategoryName}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted" id="small-average" >Average Rating: {{poi.Rating.toFixed(3)}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade bd-example-modal-lg" id="poiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
              <h2 class="featurette-heading poi-details" id="poiModalLabel">{{currPoi.Name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h2 class="featurette-heading poi-details">
                  <span class="text-muted poi-muted-text">
                    Additional Details:
                  </span>
               </h2>
              <div class="row featurette modal-featurette">
                <div class="col-md-7">
                  <p class="lead"><b>Number of views:</b> {{currPoi.Views}}</p>
                  <p class="lead"><b>Rating:</b> {{ (100*currPoi.Rating/5).toFixed(3) }}%</p>
                  <p class="lead"><b>Description:</b> {{currPoi.Description}}</p>
                  <hr class="featurette-divider poi-divider">
                  <p class="lead"><b>Latest reviews:</b></p>
                  <p class="lead">1) {{poiReviews[currPoi.PID][0].Description}}.</p> </br>
                  <p class="lead">Date Written: {{poiReviews[currPoi.PID][0].Date}}.</p> </br>
                  <p class="lead">2) {{poiReviews[currPoi.PID][1].Description}}.</p></br>
                  <p class="lead">Date Written: {{poiReviews[currPoi.PID][1].Date}}.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-fluid mx-auto" ng-src="resources/images/poi/{{currPoi.Image}}">
                  <h4 style="text-align: center"><span class="text-muted">{{currPoi.CategoryName}}</span></h4>
                  <p ng-show="loggedIn && faveList[currPoi.PID]"><img ng-click="unFave(currPoi)" class="fave" src="resources/images/isFavorite.png"></p>
                  <p ng-show="loggedIn && !faveList[currPoi.PID]"><img ng-click="addToFave(currPoi)" class="fave" src="resources/images/notFavorite.png"></p>
                </div>
              </div>
            </div>
              <div class="container">
              <!-- Map will go here-->
              IMAGINE THERE'S A MAP HERE </br>
              </div>
              <div ng-show="loggedIn && !userReview[currPoi.PID]" class="container">
                <button type="button" class="btn btn-info btn-block" ng-click="flipReview()">Write a review</button> <!-- Triggers the review form-->
                  <!-- Review Form -->
                  <form name="poiReview" class="form-group" id="formDiv" novalidate ng-model="showReview" ng-show="showReview" ng-submit="submitReview()" >
                    <div ng-show="showReviewError">
                        <small style="color: red;display: block;text-align: center;">Error: {{reviewErrorMessage}}. Perhaps you've reviewed this attraction already?</small>
                    </div>
                    <div class="form-inline mt-2 mt-md-0 inline-div">
                        <p>Enter a rating between 1 and 5:</p>
                        <input type="number" name="rating" ng-model="poiRating" ng-required="true" placeholder="Your rating" min="1" max="5">
                        <small class="help-block" id="help-msg" ng-show="poiReview.rating.$touched && poiReview.rating.$invalid">Invalid rating: mandatory field, between 1 to 5</small>
                    </div> 
                    <textarea class="form-control" id="poiTextReview" rows="3" placeholder="You may write a review here - at least 50 characters" ng-model="textReview" ng-minlength="50"></textarea>
                    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="poiReview.$invalid">Submit</button>
                  </form>
                  <!-- End Review Form-->
              </div>
              <div class="modal-body" ng-show="userReview[currPoi.PID]">
                  <h1 class="featurette-heading poi-details">
                    <span class="text-muted poi-muted-text">
                        Review successfully added!
                    </span>
                  </h1>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>