<div class="content sign-in">
    <form name="contactForm" class="outerForm" novalidate ng-submit="login()" >
        <h1> Please sign in</h1>            

        <input type="text" name="name" placeholder="User name" ng-model="user.username" ng-required="true" class="input-field">

        <input type="password" name="email" placeholder="Password" ng-model="user.password" ng-required="true" class="input-field">

        <input type="submit" value="Login" ng-disabled="contactForm.$invalid">

        <a type="submit" class="btn btn-secondary" href="#/restorePassword">Forgot Password?</a>
    </form>
</div>


