  @font-face{
    font-family: electroHarmonix;
    src: url("../resources/fonts/electroharmonix.ttf");
  }

  @font-face{
    font-family: kamikaze;
    src: url("../resources/fonts/Kamikaze.ttf");
  }


#creators{
    font-family: electroHarmonix;
  }