<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" style="color: white">NT Tokyo Travel Guide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img id="journey" src="resources/images/journey.png">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/about">About<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/pois">Attractions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/login" ng-show="!isLoggedInObject.isLogged">Sign In</a>
          </li>
        <li>
        <li class="nav-item">
            <a class="nav-link" href="#/home" ng-click="logOut()" ng-hide="!isLoggedInObject.isLogged">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/favePois" ng-show="isLoggedInObject.isLogged"><img id="fave-img" src="resources/images/favesWhite.png">[{{faveCounter}}]</a>
        </li>
        <li>
        <li class="nav-item">
            <a class="nav-link" href="#/admin" ng-model="isLoggedInObject.isLogged" ng-show="isLoggedInObject.isLogged" >Administrator</a>
        </li>
        <li>
          <a class="nav-link">Hello, {{isLoggedInObject.firstName}}</a>
        </li>
        <li ng-show="isLoggedInObject.isLogged">
          <button class="btn btn-primary my-2 my-sm-0" ng-click="saveChanges()" ng-model="saved" ng-disabled="disableSave">Save changes</button>
          <img src="resources/images/check.png" alt="Saved successfully!" ng-show="saved">
        </li>
      </ul>
        <a id="register-btn" class="btn btn-outline-success my-2 my-sm-0" href="#/register" ng-show="!isLoggedInObject.isLogged" >Sign Up</a>
    </div>
  </nav>
</header>