     <!-- FOOTER -->
      <footer class="container" id="footer-container">
            <p class="float-right"><a href="#/home">Back to main page</a></p>
            <span>&copy; 2018 NT Solutions, Inc. &middot;</span>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target=".about-modal">About &middot;</button>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target=".contact-modal">Contact</button>
      </footer>
          <!-- Modal -->
          <div class="modal fade about-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">About This Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <h3 id="creators">Creators:</h3>
                      <img src="resources/images/NT-logo.png"/><br/>
                      <br/>
                      Nevo Itzhak and Tomer Shahar<br/><br/>
                      This website was created using a combination of Javascript, JQuery, HTML and css through the bootstrap library.
                      The client side was written using AngularJS. The server side was written with the RESTful API in node.js </br><br/>
    
                      Internet programming environments 
                      Department of Software and Information Systems Engineering
                      Copyright 2018 ltd
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="modal fade contact-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Contact Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <span>(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜)</span> </br>
                        <span>Tomer Shahar-san - stomer@post.bgu.ac.il - https://www.linkedin.com/in/tomer-shahar-sise<br/></span>
                        <span>Nevo Itzhak-san - nevoit@post.bgu.ac.il - https://www.linkedin.com/in/nevoitzhak/<br/></span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>