<div class="content sign-in">
        <form name="contactForm" class="outerForm" novalidate >
            <h1> Please enter your details</h1>            
    
            <input type="text" name="firstName" placeholder="First name" ng-model="user.firstName" ng-required="true" class="input-field">
            <div ng-show="contactForm.firstName.$touched && contactForm.firstName.$invalid">
                <small style="color: red;display: block;text-align: center;">Enter your name.</small>
            </div>
    
            <input type="text" name="lastName" placeholder="Last name" ng-model="user.lastName" ng-required="true" class="input-field">
            <div ng-show="contactForm.lastName.$touched && contactForm.email.$invalid">
                <small style="color: red;display: block;text-align: center;">Enter your last name.</small>
            </div>

            <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true" class="input-field">
            <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
                <small style="color: red;display: block;text-align: center;">Enter a valid email.</small>
            </div>

            <!-- Counry - dropdown menu - from XML -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Country</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option ng-repeat="country in countries" ng-model="user.country">{{country}}</option>
                </select>
            </div>

            <input type="text" name="city" placeholder="City" ng-model="user.city" ng-required="true" class="input-field">
            <div ng-show="contactForm.city.$touched && contactForm.city.$invalid">
                <small style="color: red;display: block;text-align: center;">Enter your city.</small>
            </div>
            
            <h5 id="questTitle" >Please choose 2 different security questions.</h5>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Question 1</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option ng-repeat="q in questions" ng-model="questions">{{q.questionText}}</option>
                </select>
            </div>
            <input type="text" name="answer1" placeholder="Your answer.." ng-model="user.answer1" ng-required="true" class="input-field">
            <div ng-show="contactForm.answer1.$touched && contactForm.answer1.$invalid">
                <small style="color: red;display: block;text-align: center;">Please insert your answer.</small>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Question 2</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option ng-repeat="q in questions" ng-model="questions">{{q.questionText}}</option>
                </select>
            </div>
            <input type="text" name="answer2" placeholder="Your answer.." ng-model="user.answer2" ng-required="true" class="input-field">
            <div ng-show="contactForm.answer2.$touched && contactForm.answer2.$invalid">
                <small style="color: red;display: block;text-align: center;">Please insert your answer.</small>
            </div>

            <!-- Counry - Existing categories for the user-->
            <!-- Counry - Questions and answers-->
    
            <input type="submit" value="Continue" ng-disabled="contactForm.$invalid" ng-click="submit()">
        </form>
    </div>
    