<div class="poi-page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the points of interest page!</h1>
      <hr class="my-4">
      <p class="lead">Here you can view all of the Tokyo attractions in our database. Clicking on one of the attractions will open a new tab
        that includes more detailed info about the attraction and will also registered users to review the attraction. </p>
    </div>
  </div>
  <div class="container poi-container">     
    <form class="form-inline mt-2 mt-md-0">
        <div class="filter-search">
          <img src="resources/images/geisha.svg" onerror="this.src='../../resources/images/wave-circle.png'">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="search">
          <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" ng-disabled="true">Search</button>
        </div>
    </form>
    <hr class="my-4" id="geisha-divider">
    <div class="no-results" ng-show="{{ (pois | filter: search).length }} === 3">
      There are {{ (pois | filter: search).length }} results
    </div>
    <table class="table table-dark table-striped" ng-show="filteredPois.length">
      <thead>
        <tr ng-click="openPoiTab(poi)">
            <th class="headerProperty" ng-click="order = 'Name'; reverseSort = !reverseSort">Name</th>
            <th class="headerProperty" ng-click="order = 'CategoryName'; reverseSort = !reverseSort">Category</th>
            <th class="headerProperty" ng-click="order = 'Views'; reverseSort = !reverseSort">Views</th>
            <th class="headerProperty" ng-click="order = 'Rating'; reverseSort = !reverseSort">Rating</th>
            <th ng-show={{loggedIn}}>Favorite?</th>
        </tr>
      </thead> 
      <tbody> 
        <tr ng-repeat="poi in filteredPois = (pois | orderBy: order : reverseSort | filter: search)"> 
          <td>{{poi.Name}}</td>
          <td>{{poi.CategoryName}}</td>
          <td>{{poi.Views}}</td>
          <td>{{poi.Rating.toFixed(3)}}</td>
          <td ng-show="{{loggedIn}} && faveList[poi.PID]"> <img ng-click="unFave(poi)" class="fave" src="resources/images/isFavorite.png"></td>
          <td ng-show="{{loggedIn}} && !faveList[poi.PID]"><img ng-click="addToFave(poi)" class="fave" src="resources/images/notFavorite.png"></td>
          </tr>
      </tbody>
    </table>
    <div class="container no-results" ng-hide="filteredPois.length">
      <h1 class="display-4">Woops. Sorry</h1>
      <p class="lead">Looks like there isn't any attraction with the name you searched for.</p>
      <p class="lead">Here, have this bowl of rice instead: <img src="resources/images/rice2.svg"> </p>
    </div>

  </div>

  <!--
      <tbody> 
        <tr ng-repeat="poi in pois | orderBy: order | filter: search"> 
          <td>{{poi.name}}</td>
          <td>{{poi.category}}</td>
          <td>{{poi.views}}</td>
          <td>{{poi.rating}}</td>
          <td ng-show="{{poi.isFave}} && {{loggedIn}}"><img class="fave" src="resources/images/isFavorite.png"></td>
          <td ng-show="!{{poi.isFave}} && {{loggedIn}}"><img class="fave" src="resources/images/notFavorite.png"></td>
          </tr>
      </tbody>
  -->
