.jumbotron.jumbotron-fluid{
    padding-bottom: 0;
}

.container.poi-container{
    margin-top: 1rem;
}

/* Filter and search bar */

.filter-search{
    width: 70rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 0 0 0 0;
    margin: 0 0 0rem 0;
}

.filter-search img{
    width: 5rem;
}
#searchBtn{
    color: black;
    border-color: crimson;
    border-width: 2px;
    font-weight: bold;
}

#geisha-divider{
    margin-top: 0!important;
}


/* Table styling*/

.fave{
    width: 2.5rem;
}

.fave:hover{
    cursor: pointer;
}

.thead tr th{
    color: red;
}

.thead tr th{
    cursor: pointer;
}

.headerProperty{
    cursor: pointer;
}

.no-results{
    padding: 0 0 2rem 0;
}

.lead img{
    width: 4rem;
}

#poi-row td{
    vertical-align: inherit;
}

#poi-img{
    width: 6rem;
}

#poi-row td img:hover{
    cursor: pointer;
}