<div class="poi-page">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to the points of interest page!</h1>
      <hr class="my-4">
      <p class="lead">Here you can view all of the Tokyo attractions in our database. Clicking on one of the attractions will open a new modal
        that includes more detailed info about the attraction and will also registered users to review the attraction. </p>
    </div>
  </div>
  <div class="container poi-container">     
    <form class="form-inline mt-2 mt-md-0">
      <div class="filter-search container">
        <div class="row">
          <div class="col-sm-7">
              <img src="resources/images/geisha.svg" onerror="this.src='../../resources/images/wave-circle.png'">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="search">
              <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" ng-disabled="true">Search</button>
          </div>
          <div class="col-sm-5" id="category-boxes">
            <div class="row" >
              <div class="col-sm-6"><input type="checkbox" ng-change="boxClicked()" ng-model="cat1" ng-true-value="true" ng-false-value="false"><span>Sights & Landmarks</span></div>
              <div class="col-sm-6"><input type="checkbox" ng-change="boxClicked()" ng-model="cat2" ng-true-value="true" ng-false-value="false"><span>Concerts & Shows</span></div>
            </div>
            <div class="row">
              <div class="col-sm-6"><input type="checkbox" ng-change="boxClicked()" ng-model="cat3" ng-true-value="true" ng-false-value="false"><span>Food & Drink</span></div>
              <div class="col-sm-6"><input type="checkbox" ng-change="boxClicked()" ng-model="cat4" ng-true-value="true" ng-false-value="false"><span>Nightlife</span></div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr class="my-4" id="geisha-divider">
    <table class="table table-dark table-striped" ng-show="filteredPois.length && (cat1 || cat2 || cat3 || cat4)"> <!-- Dont show the table if there are no results OR all categories are not checked (false)-->
      <thead>
        <tr ng-click="openPoiTab(poi)">
            <th class="headerProperty" ng-click="order = 'Name'; reverseSort = !reverseSort">Name</th>
            <th class="headerProperty">Image</th>
            <th class="headerProperty" ng-click="order = 'CategoryName'; reverseSort = !reverseSort">Category</th>
            <th class="headerProperty" ng-click="order = 'Views'; reverseSort = !reverseSort">Views</th>
            <th class="headerProperty" ng-click="order = 'Rating'; reverseSort = !reverseSort">Rating</th>
            <th ng-show={{loggedIn}}>Favorite?</th>
        </tr>
      </thead> 
      <tbody> 
        <tr id="poi-row" ng-repeat="poi in filteredPois = (pois | orderBy: order : reverseSort | filter: search)" ng-show="categories[poi.CategoryName]"> 
          <td class="poi-name" ng-click="setCurrPoi(poi)" data-toggle="modal" data-target="#poiModal" >{{poi.Name}}</td>
          <td><img id="poi-img" ng-click="setCurrPoi(poi)" ng-src="resources/images/poi/{{poi.Image}}" data-toggle="modal" data-target="#poiModal"></td>
          <td>{{poi.CategoryName}}</td>
          <td>{{poi.Views}}</td>
          <td>{{(100 * poi.Rating/5).toFixed(2)}}%</td>
          <td ng-show="loggedIn && faveList[poi.PID]"> <img ng-click="unFave(poi)" class="fave" src="resources/images/isFavorite.png"></td>
          <td ng-show="loggedIn && !faveList[poi.PID]"><img ng-click="addToFave(poi)" class="fave" src="resources/images/notFavorite.png"></td>
        </tr>
      </tbody>
    </table>
  <div class="container no-results" ng-hide="filteredPois.length">
    <h1 class="display-4">Woops. Sorry</h1>
    <p class="lead">Looks like there isn't any attraction with the name you searched for.</p>
    <p class="lead">Here, have this bowl of rice instead: <img src="resources/images/rice2.svg"> </p>
  </div>
  <div class="container no-results" ng-show="!cat1 && !cat2 && !cat3 && !cat4 && filteredPois.length">
      <h1 class="display-4">Woops. Sorry</h1>
      <p class="lead">Looks like there isn't any attraction with the categories you chose.</p>
      <p class="lead">Here, have this bowl of rice instead: <img src="resources/images/rice2.svg"> </p>
  </div>
</div>
<!--
<poiModal lolo="modal1"></poiModal>
<a data-target="#{{modal1}}" role="button" class="btn btn-success" data-toggle="modal">Launch poi Modal</a>
-->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="poiModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-content-custom">
      <div class="modal-header">
        <h2 class="featurette-heading poi-details" id="poiModalLabel">{{currPoi.Name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="featurette-heading poi-details"><span class="text-muted poi-muted-text">Additional Details:</span></h2>
        <div class="row featurette modal-featurette">
          <div class="col-md-7">
              <p class="lead"><b>Number of views:</b> {{currPoi.Views}}</p>
              <p class="lead"><b>Rating:</b> {{ (100*currPoi.Rating/5).toFixed(3) }}%</p>
              <p class="lead"><b>Description:</b> {{currPoi.Description}}</p>
              <hr class="featurette-divider poi-divider">
              <p class="lead"><b>Latest reviews:</b></p>
              <p class="lead" ng-model="poiReviews[currPoi.PID][0].Description">1) {{poiReviews[currPoi.PID][0].Description}}</p>
              <p class="lead"><b>Date Written: </b>{{poiReviews[currPoi.PID][0].Date}}.</p> <br>
              <p class="lead" ng-model="poiReviews[currPoi.PID][1].Description">2) {{poiReviews[currPoi.PID][1].Description}}</p>
              <p class="lead"><b>Date Written: </b>{{poiReviews[currPoi.PID][1].Date}}.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" ng-src="resources/images/poi/{{currPoi.Image}}">
            <h4 style="text-align: center"><span class="text-muted">{{currPoi.CategoryName}}</span></h4>
            <p ng-show="loggedIn && faveList[currPoi.PID]"><img class="fave" ng-click="unFave(currPoi)" src="resources/images/isFavorite.png"></p>
            <p ng-show="loggedIn && !faveList[currPoi.PID]"><img class="fave" ng-click="addToFave(currPoi)" src="resources/images/notFavorite.png"></p>
          </div>
        </div> 
      </div> <!-- modal body end -->
      <div id="poisMap">
      </div> 
      <div ng-show="loggedIn && !userReview[currPoi.PID]" class="container">
          <button type="button" class="btn btn-info btn-block" data-toggle="modal" ng-click="clearForm()" data-target="#reviewModal" ng-show="!userReview[currPoi.PID]">Write a review</button> <!-- Triggers the review form-->
      </div>
        <div class="modal-body" ng-show="userReview[currPoi.PID]">
          <h1 class="featurette-heading poi-details"><span class="text-muted poi-muted-text">Review successfully added!</span></h1>
        </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Modal-->

<!-- Review Modal-->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Write your review here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="poiReview" class="form-group" id="formDiv" novalidate ng-model="showReview" ng-submit="submitReview()" ng-show="!userReview[currPoi.PID]">
              <div ng-show="showReviewError">
                <small style="color: red;display: block;text-align: center;">Error: {{reviewErrorMessage}}. Perhaps you've reviewed this attraction already?</small>
              </div>
              <div class="form-inline mt-2 mt-md-0 inline-div">
                <p>Enter a rating between 1 and 5:</p>
                <input type="number" name="rating" ng-model="poiRating" ng-required="true" placeholder="Your rating" min="1" max="5">
                <small class="help-block" id="help-msg" ng-show="poiReview.rating.$touched && poiReview.rating.$invalid">Invalid rating: mandatory field, between 1 to 5</small>
              </div> 
              <textarea class="form-control" id="poiTextReview" rows="3" placeholder="You may write a review here - at least 50 characters" ng-model="textReview" ng-minlength="50"></textarea>
              <button type="submit" class="btn btn-primary btn-lg" ng-disabled="poiReview.$invalid || userReview[currPoi.PID]">Submit</button>
            </form> <!-- End Review Form -->
            <div class="modal-body" ng-show="userReview[currPoi.PID]">
              <h1 class="featurette-heading poi-details"><span class="text-muted poi-muted-text">Review successfully added!</span></h1>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
  </div>