.jumbotron.jumbotron-fluid{
    padding-bottom: 0;
}

/* Filter and search bar */

.filter-search{
    width: 70rem;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 0 0 0 0;
    margin: 0 0 0rem 0;
}

.filter-search img{
    width: 5rem;
}
#searchBtn{
    color: black;
    border-color: crimson;
    border-width: 2px;
    font-weight: bold;
}


/* Table styling*/

.fave{
    width: 2.5rem;
}

.thead tr th{
    color: red;
}

.thead tr th{
    cursor: pointer;
}

.headerProperty{
    cursor: pointer;
}