    <header ng-controller="headerCtrl">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">NT Tokyo Travel Guide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img id="journey" src="resources/images/journey.png">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/poi">Attractions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/register">Sign In</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" >Hello, {{userName}}</a>
            </li>
          </ul>
            <button id="register-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit" href="#/register">Sign Up</button>
        </div>
      </nav>
    </header>