<div class="content sign-in">
    <form name="contactForm" class="outerForm" novalidate >
        <h1> Please sign in</h1>            

        <input type="text" name="name" placeholder="User name" ng-model="user.name" ng-required="true" class="input-field">
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color: red;display: block;text-align: center;">Enter a valid username</small>
        </div>

        <input type="text" name="email" placeholder="Password" ng-model="user.password" ng-required="true" class="input-field">
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color: red;display: block;text-align: center;">Enter a valid password address</small>
        </div>

        <input type="submit" value="Login" ng-disabled="contactForm.$invalid" ng-click="submit()">

        <a class="btn btn-secondary" href="#/restorePassword">Forgot Password?</a>
    </form>
</div>


