<div class="registerDiv" id="registerDiv">
        <div id="tagline"></div>
        <div id="pagetitle">
              REGISTER
        </div>
        <span ng-if="userRegistered">
              <div align="center">You are successfully registered!</div>
        </span>
        <span ng-if="!userRegistered">
            <form name="registrationForm">
                <table width="620" align="center" cellpadding="10" class="table table-striped">
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" height="24" valign="middle">User Name:</td>
                        <td width="400" align="left" valign="top">
                            <input name="userName"
                                      type="text"
                                      size="35"
                                      ng-model="user.username"
                                      ng-minlength="3"
                                      ng-maxlength="15"
                                      required/>
                            <span ng-show="registrationForm.userName.$touched && registrationForm.userName.$invalid">
                                <font color="red">
                                      The username is required with minlength=3 and maxlength=15
                                </font>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" height="24" valign="middle">Password:</td>
                        <td width="400" align="left" valign="top">
                            <input name="password"
                                      type=""
                                      size="35"
                                      ng-model="user.password"
                                      ng-minlength="3"
                                      ng-maxlength="15" required/>
                            <input type="checkbox" ng-model="showpassword" ng-checked="false" ng-click="showPassword()"> Show
                            <span ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">
                                <font color="red">
                                      The password is required with minlength=3 and maxlength=15
                                </font>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" height="24" valign="middle">Name:</td>
                        <td width="400" align="left" valign="middle">
                            <input name="name"
                                      type="text"
                                      size="35"
                                      ng-model="user.name"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" height="24" valign="middle">Company:</td>
                        <td width="400" align="left" valign="middle">
                            <input name="company"
                                      type="text"
                                      size="35"
                                      ng-model="user.company"/>
                        </td>
                    </tr>
                    <tr bgcolor="#C1D6FF">
                        <td width="120" valign="top"> </td>
                        <td width="100" valign="middle">Street:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="street"
                                        type="text"
                                        size="35"
                                        ng-model="user.street"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" valign="middle">City:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="city"
                                        type="text"
                                        size="35"
                                        ng-model="user.city"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" valign="middle">State:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="state"
                                        type="text"
                                        size="35"
                                        ng-model="user.state"/>
                              </td>
                    </tr>
                    <tr>
                        <td width="120" valign="middle"> </td>
                        <td width="100" valign="middle">Zip Code:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="zipCode"
                                        type="text"
                                        size="35"
                                        ng-model="user.zipcode"/>
                              </td>
                    </tr>
                    <tr>
                        <td width="120" valign="middle" align="right"></td>
                        <td width="100" valign="middle">Email:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="email"
                                        type="text"
                                        size="35"
                                        ng-model="user.email"
                                        required/>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="middle" align=right"></td>
                        <td width="100" valign="middle">Phone:</td>
                        <td width="400" align="left" valign="middle">
                              <input name="phone"
                                        type="text"
                                        size="35"
                                        ng-model="user.phone"
                                        required/>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" height="24" valign="middle"><strong>User Type</strong>
                        </td>
                        <td width="400" align="left" valign="middle">
                          <input type="radio" name="userType" ng-model="user.userType" ng-value="Company"> Company
                          <input type="radio" name="userType" ng-model="user.userType" ng-value="Individual">  Individual
                        </td>
                    </tr>
                    <tr>
                        <td width="120" valign="top"> </td>
                        <td width="100" valign="middle"><label>Inquiry</label></td>
                        <td width="400" align="left" valign="middle">
                                <textarea name="inquiry"
                                    cols="50"
                                    rows="6"
                                    ng-model="user.inquiry">
                                </textarea>
                        </td>
                    </tr>
                    <tr align="center">
                        <td height="63" colspan="3" valign="top"><p align="center">
                            <input type="button" ng-click="reset()" value="Reset"/>
                            <input type="submit" ng-click="registerUser(user)" value="Save"/>
                        </p>
                        </td>
                    </tr>
                </table>
            </form>
        </span>
        </div>