
  @font-face{
    font-family: electroHarmonix;
    src: url("../../resources/fonts/electroharmonix.ttf");
  }

  @font-face{
    font-family: kamikaze;
    src: url("../../resources/fonts/Kamikaze.ttf");
  }
  
  #first-caption{
    height: 18rem;
    font-weight: bold;
    
    text-shadow: rgb(15, 13, 6) 1px 0 10px;
  }

  #first-caption p{
    margin: 0 0 1.5rem 0;
  }

  .button-toolbar{
    margin: 4rem 0 0 0;
  }

  .first-cap-btn{
    font-family: electroHarmonix;
  }
  
  #second-caption{
    height: 20rem;
    font-weight: bold;
    text-shadow: rgb(15, 13, 6) 1px 0 10px; 
  }

  #third-caption{
    height: 19rem;
    font-weight: bold;
    text-shadow: rgb(15, 13, 6) 1px 0 10px;
    padding: 0 2rem 0 0;
  }

  #third-caption h1{
    padding: 0 11.8rem 0 0;
  }

  #fourth-caption{
    height: 16rem;
    font-weight: bold;
    text-shadow: rgb(15, 13, 6) 3px 0px 10px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
  
  #fourth-caption h1:hover,h1:focus{
    color: rgba(185, 107, 107, 0.952);
  }

  #fourth-caption p:hover,p:focus{
    color: rgba(201, 53, 53, 0.952);
  }

  #fourth-caption > p{
    font-size: 23px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #firstBtn{
    color: white;
  }
  
  #secondBtn{
    color: white;
  }
  
  #thirdBtn{
    color: white;
  }

  .featurette-heading span{
    margin: 0.5rem 0 0 0;
  }

  .col-md-5.order-md-1 h4{
    margin: 1rem 0 0 0;
  }

  #home-end-div{
    margin: 1rem 0 1rem 0;
  }
  /* Modal Settings 
  .modal-content-custom{
    width: 90rem !important; 
    margin: 0 0 0 -18rem !important;
  } */
  
  .poi-details{
    margin: 0;
    font-weight: 400;
    font-size: 35px
  }

  .poi-divider{
    margin: 1rem 0 1rem 0;
  }

  .poi-muted-text{
    margin-bottom: 2rem;
    font-weight: 100;
  }

  .modal-featurette{
    margin: 2rem 0 0 0;
  }

  .col-md-5 > p{
    margin: 0 auto;
    padding: 0 9rem 0 5rem;
    width: 2.5rem;
  }

  .mapPoi{
    height: 400px;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  #map-review-divider{
    margin: 2rem 0 2rem 0;
  }

  #poiTextReview{
    margin: 2rem 0 1rem 0;
  }

  .inline-div * {
    margin: 2rem 1rem 0 1rem;
  }

  .inline-div input{
    width:  8rem;
  }

  #help-msg{
    margin: 2rem 0rem 0 0rem;
  }

  .modal-footer button{
    margin: 0 auto;
  }

  #homeMap{
    height: 300px;
    width: 600px; 
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  /* Image card Sizes */

  .card img{
    max-width: 23rem;
  }