.display-4{
    width: 80rem;
}

#fave-lead{
    padding: 0 0 2rem 0;
    text-align: center;
}

.poi-name:hover{
    cursor: pointer;
}

.list-group img{
    width: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}
.list-group > img:hover{
    cursor: pointer;
}

#category-boxes > div{
    height: 3rem;
}

#category-boxes div.col-sm-6 *{
    vertical-align: top;
}

.col-sm-3{
    flex: 0;
}

#favesMap{
    height: 300px;
    width: 600px; 
    margin: 0 auto;
    margin-bottom: 2rem;
}

