<div class="poi-page">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Here you can view your ❤ attractions.</h1>
            <hr class="my-4">
            <p id="fave-lead" class="lead">You can manage your favorite points of interest around Tokyo.  </p>
          </div>
        </div>
        <div class="container poi-container">     
            <form class="form-inline mt-2 mt-md-0">
                <div class="filter-search">
                    <img src="resources/images/ninja.svg" onerror="this.src='../../resources/images/wave-circle.png'">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="search">
                    <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" ng-disabled="true">Search</button>
                </div>
              </form>
              <hr class="my-4">    
          <table class="table table-dark table-striped">
            <thead>
              <tr ng-click="openPoiTab(poi)">
                  <th class="headerProperty" ng-click="order = 'name'">Name</th>
                  <th class="headerProperty" ng-click="order = 'category'">Category</th>
                  <th class="headerProperty" ng-click="order = 'views'">Views</th>
                  <th class="headerProperty" ng-click="order = 'rating'">Rating</th>
                  <th ng-show={{loggedIn}}>Favorite?</th>
              </tr>
            </thead> 
            <tbody> 
              <tr ng-repeat="poi in pois | orderBy: order | filter: search"> 
                <td>{{poi.name}}</td>
                <td>{{poi.category}}</td>
                <td>{{poi.views}}</td>
                <td>{{poi.rating}}</td>
                <td ng-show="{{poi.isFave}} && {{loggedIn}}"><img class="fave" src="resources/images/isFavorite.png"></td>
                <td ng-show="!{{poi.isFave}} && {{loggedIn}}"><img class="fave" src="resources/images/notFavorite.png"></td>
            </tbody>
          </table>
        </div>

        <button data-toggle="modal" data-target=".bd-example-modal-lg">Big ass modal button</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                ... </br>
                bla bla bla
                </div>
            </div>
        </div>
      